extends layout

block content
  .col-md-4.brd.col-md-offset-4
    .panel.panel-primary
      .panel-heading Logowanie
      .panel-body
        form(method='POST' action='/login')
          div.form-group
            label(for='username') Nazwa uzytkownika:
            input#username.form-control(type='text' name='username')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          button.btn.btn-primary(type='submit' enctype='application/x-www-form-urlencoded') Zaloguj