extends layout

block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='/scripts/message.js')
	#myModal.modal.fade(role='dialog')
			.modal-dialog
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title From:
				.modal-body
					p Some text in the modal.
				.modal-footer
					button#respondButton.btn.btn-info(type='button', data-dismiss='modal') Respond
	#notmyModal.modal.fade(role='dialog')
			.modal-dialog
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title To:
				.modal-body
					.form-group
						label(for='comment') Content:
						textarea#comment.form-control(rows='5')
				.modal-footer
					button#sendButton.btn.btn-success(type='button') Send
	h1 Messages
	.row    
		.col-lg-4 
			.row
				.col-md-12
					.input-group
						input#searchText.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button#searchbtn.btn.btn-default(type='button') Search!
			table#userTable.table
				thead.thead-inverse
					tr
						th First Name
						th Last Name
						th Send
				tbody
		.col-lg-8(style="background-color: #ebebeb;")
			table#allMessages.table
				thead.thead-inverse
					tr 
						th From
						th When
						th Check
				tbody