extends layout

block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='/scripts/message.js')
	#myModal.modal.fade(role='dialog')
			.modal-dialog
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title Od:
				.modal-body
					p Some text in the modal.
				.modal-footer
					button#respondButton.btn.btn-primary(type='button', data-dismiss='modal') Odpowiedz
	#notmyModal.modal.fade(role='dialog')
			.modal-dialog
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title Do:
				.modal-body
					.form-group
						label(for='comment') Treść:
						textarea#comment.form-control(rows='5')
				.modal-footer
					button#sendButton.btn.btn-primary(type='button') Wyślij
	h1 Wiadomości
	.row    
		.col-lg-4 
			.row
				.col-md-12
					.input-group
						input#searchText.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button#searchbtn.btn.btn-primary(type='button') Szukaj!
			table#userTable.table
				thead.thead-inverse
					tr
						th Imię
						th Nazwisko
						th Wyślij
				tbody
		.col-lg-8(style="background-color: #ebebeb;")
			table#allMessages.table
				thead.thead-inverse
					tr 
						th Od
						th Data
						th Odczytaj
				tbody