extends layout

block content
  
  .col-md-4.brd.col-md-offset-4
    .panel.panel-primary
      .panel-heading Zmiana hasła
      .panel-body
        form(name='password-reset' method='POST' action='/password/reset')
          div.form-group
            label(for='password') Nowe hasło:
            input#password.form-control(type='password' name='password')
          div.form-group
            label(for='verify-password') Powtórz nowe hasło:
            input#verify-password.form-control(type='password' name='verify-password')
          input#token.hidden(name='token' value=token)
          button.btn.btn-primary(type='submit' enctype='application/x-www-form-urlencoded') Zmień hasło