extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/scripts/asignScript.js')
  h1(data-internalid=''+subject.id) #{subject.name}
  .row    
    .col-lg-4 
      .row
        .col-md-12
          .input-group
            input#searchText.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button#searchbtn.btn.btn-default(type='button') Search!
      table#userTable.table
        thead.thead-inverse
          tr
            th id
            th First name
            th Last name
            th Asign
        tbody
    .col-lg-8(style="background-color: #eaeaea;")
      h1 Teachers
      table#asignedTeachersTable.table
        thead.thead-inverse
          tr
            th id
            th First name
            th Last name
            th Remove
        tbody
          tr
            td 
            td 
            td 
            td
              button.btn.btn-danger(type='button') Remove

      h1 Students          
      table.table
        thead.thead-inverse
          tr
            th id
            th First name
            th Last name
            th Remove
        tbody
          tr
            td 
            td 
            td 
            td
              button.btn.btn-danger(type='button') Remove