extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/scripts/teacherScript.js')

  .row    
    .col-lg-4 
      .row
        .col-md-12
          .input-group
            input#searchText.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button#searchbtn.btn.btn-default(type='button') Search!
      table#subjectTable.table
        thead.thead-inverse
          tr
            th Subject name
            th Year
            th Term
            th Show
        tbody
    .col-lg-8(style="background-color: #eaeaea;")
      h1#subName 
      h1 Students          
      table#asignedStudentsTable.table
        thead.thead-inverse
          tr
            th id
            th First name
            th Last name
            th Grade 1
            th Grade 2
            th Save
        tbody