extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/scripts/teacherScript.js')

  .row    
    .col-lg-4 
      .row
        .col-md-12
          .input-group
            input#searchText.form-control(type='text', placeholder='Szukaj...')
            span.input-group-btn
              button#searchbtn.btn.btn-primary(type='button') Szukaj!
      table#subjectTable.table
        thead.thead-inverse
          tr
            th Nazwa przedmiotu
            th Rok
            th Semestr
            th Pokaż
        tbody
    .col-lg-8(style="background-color: #eaeaea;")
      h1#subName 
      h1 Studenci          
      table#asignedStudentsTable.table
        thead.thead-inverse
          tr
            th id
            th Imię
            th Nazwisko
            th Ocena 1
            th Ocena 2
        tbody