extends layout


block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='/scripts/searchScript.js')
	
	.row
		.col-lg-6
			.input-group
				input#searchText.form-control(type='text', placeholder='Szukaj...')
				span.input-group-btn
					button#searchbtn.btn.btn-default(type='button') Szukaj!
	table#userTable.table
		thead.thead-inverse
			tr
				th id
				th Imię
				th Nazwisko
				th Zablokuj
				th Zmiana hasła
		tbody
			each user in users
				- let userId = user.id;
				- let changedUserLocked = !user.locked;
				- let changedForcePassChange = !user.forcePasswordChange;
				tr
					td #{user.id}
					td #{user.firstName}
					td #{user.lastName}
					td
						button.btn.btn-warning(onClick='$.post("list/changeUsers", {changes: [{id: ' + userId + ', locked: ' + changedUserLocked + '}]});',type='button') Zablokuj
					td
						button.btn.btn-danger(onClick='$.post("list/changeUsers", {changes: [{id: ' + userId + ', forcePasswordChange: ' + changedForcePassChange + '}]});',type='button') Wymuś zmianę hasła


    
	  


